<div class="page-container">
    <div class="header">
        <div class="logo">
            <img src="views/img/logo.png">
        </div>
    </div>

    <div class="main">
        <div class="inputs">
            <input type="text" ng-model="user.email" placeholder="Correo electrónico">
            <input type="text" ng-model="user.password" placeholder="Contraseña">
        </div>

        <div class="buttons">
            <button type="button">Entrar</button>
        </div>

    </div>
</div>