<section id="top" ng-controller="loginCtrl" class="container fadeInLeftBig">
    <div class="shadow-style box login text-center">
        <h3 class="text-center"><b><i>Register</i></b></h3>
        <input type="text" class="text-center input" ng-model="user.nickname" placeholder="Nombre de usuario"/>
        <input type="text" class="text-center input" ng-model="user.email" placeholder="Correo Electrónico"/>
        <input type="text" class="text-center input" ng-model="user.password" placeholder="Contraseña"/>
        <input type="submit" ng-click="subscribe(user)" value="Enviar" class="input" />
    </div>
</section>