<!-- Banner -->
<section class="animated fadeInDown" ng-controller="homeCtrl">
    <section class="row">
        <div class="col-md-12">
            <section class="">
                <img width="100%" class="img-header" src="design/imagen%20header.png" alt=""/>
            </section>
            <div class="login">
                <button class="button-home" ui-sref="login">Login</button>
            </div>

            <div class="register">
                <button class="button-home" ui-sref="register">Register</button>
            </div>
            
            <div class="box">
                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Ingredientes{{ingredients}}</label>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <select chosen multiple
                            options="ingredients"
                            ng-model="ingredientsChosen"
                            ng-options="ingredient.id as ingredient.name
      for ingredient in ingredients">
                    </select>
                    <div class="row text-center">
                         <input ui-sref="result" type="submit" ng-click="subscribe(test)" value="Enviar" class="input button-ingredients"/>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>

</section>
