<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/tartanera" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100001117216081" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; DDUF. Todos los derechos reservados.</li><li>Developed by: <a href="https://twitter.com/frnzurita?lang=es">Frzurita</a></li>
    </ul>
</footer>